# Note: variables that has "# *" are required to be filled

# -------- Config
# --- AoC
AOC__CHANNEL_ID = 0
AOC__ROLE_ID = 0
AOC__SESSION_COOKIE = ...

# --- Bots
BOT__COMMANDS_CHANNELS_IDS= [0,0]  # List[int]  # [#bot-commands, #commands] (main bot-commands channel at index 0)
                                   # Leave no sapce or use double quotes `"` e.g: "[0, 0]"
BOT__GAMES_CHANNEL_ID = 0
BOT__TOKEN =  # *

# --- CHALLENGES
CHALLENGES__CHANNEL_ID = 0
CHALLENGES__HOST_HELPER_ROLE_ID = 0
CHALLENGES__HOST_ROLE_ID = 0
CHALLENGES__INFO_CHANNEL_ID = 0
CHALLENGES__PARTICIPANT_ROLE_ID = 0
CHALLENGES__SUBMISSIONS_CHANNEL_ID = 0
CHALLENGES__SUBMITTED_ROLE_ID = 0
CHALLENGES__SUBMIT_CHANNEL_ID = 0
CHALLENGES__WINNER_ROLE_ID = 0

# --- COC
COC__CHANNEL_ID = 0
COC__MESSAGE_ID = 0
COC__ROLE_ID = 0

# --- Database
DB__MAX_POLL_CONNECTIONS = 10
DB__MIN_POLL_CONNECTIONS = 10
DB__URI =  # *

# --- Guild
GUILD__ID =  # *
GUILD__WELCOMES_CHANNEL_ID = 0

# --- Moderation
MODERATION__ADMIN_ROLES_IDS = # *  # List[int],  # Leave no sapce or use double quotes `"` e.g: "[0, 0]"
MODERATION__STAFF_ROLE_ID = # *

# --- Notification
NOTIFICATION__API_KEY = ...  # Youtube Data AP - API Key: https://developers.google.com/youtub/docs
NOTIFICATION__CHANNEL_ID = 0
NOTIFICATION__ROLE_ID = 0
NOTIFICATION__WEBHOOK = ...  # Webhook for notifications to tim's youtube channel

# --- Reaction Roles
REACTION_ROLES__REQUIRED_ROLE_ID = 0  # Access to reactio roles
REACTION_ROLES__ROLES = {"0":0} # Dict[emoji_id: int, role_id: int] # Leave no sapce or use double quotes `"` e.g: "{\"0\": 0}"
REACTION_ROLES__MESSAGE_ID = 0

# --- Tags
TAGS__LOG_CHANNEL_ID = 0
TAGS__REQUIRED_ROLE_ID = 0  # Access to tag commands
TAGS__REQUESTS_WEBHOOK = ...

# --- Timathon
TIMATHON__CHANNEL_ID = 0
TIMATHON__PARTICIPANT_ROLE_ID = 0
